<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='images/icon.ico') }}" />
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nprogress.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dragula.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/notification-styles/ns-default.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/notification-styles/ns-style-bar.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>Tribett</title>
  </head>
  <body>
    <div class="header">
      <div class="app-name">Tribett<span class="trademark">&trade;</span></div>
      <div class="top-button-holder">

        <div class="user-profile">
        </div>
        <button class="button" data-bind="click: addNewRequest"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Feature</button>
      </div>
    </div>
    <div class="container">
      <!--<div class="top-button-holder">
        <button class="button" data-bind="click: addNewRequest"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Feature</button>
      </div>-->
      <section class="features-holder">
        <section class="features-status features-status--grey">
          <div class="top">Not Started</div>
          <div class="not-started">
            <div data-bind="foreach: {data: featuresNotStarted, afterRender: attachDragula }" class="features-inner-holder" id="left">
              <div class="feature">
                <div class="feature-inner">
                  <span class="feature-title">Title</span>
                  <div class="feature-value" data-bind="text: title"></div>
                  <span class="feature-title">Description</span>
                  <div class="feature-value" data-bind="text: desc"></div>
                  <span class="feature-title">Priority</span>
                  <div class="feature-value" data-bind="text: priority"></div>
                  <span class="feature-title">Product Area</span>
                  <div class="feature-value" data-bind="text: area"></div>
                </div>
                <div class="feature-date-and-client">
                  <div class="feature-client" data-bind="text: client"></div>
                  <div class="feature-value feature-date" data-bind="text: date"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="features-status features-status--blue">
          <div class="top">In-Progress</div>
          <div class="in-progress">
            <div data-bind="foreach: { data:featuresInProgress, afterRender: attachDragula } " class="features-inner-holder" id="center">
              <div class="feature">
                <div class="feature-inner">
                  <span class="feature-title">Title</span>
                  <div class="feature-value" data-bind="text: title"></div>
                  <span class="feature-title">Description</span>
                  <div class="feature-value" data-bind="text: desc"></div>
                  <span class="feature-title">Priority</span>
                  <div class="feature-value" data-bind="text: priority"></div>
                  <span class="feature-title">Product Area</span>
                  <div class="feature-value" data-bind="text: area"></div>
                  <!--<div class="feature-button-holder">
                    <button class="small-button small-button--grey">Mark Not-Started</button>
                    <button class="small-button small-button--green">Mark Done</button>
                  </div>-->
                </div>
                <div class="feature-date-and-client">
                  <div class="feature-client" data-bind="text: client"></div>
                  <div class="feature-value feature-date" data-bind="text: date"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="features-status features-status--green">
          <div class="top">Done</div>
          <div class="done">
            <div data-bind="foreach: { data:featuresDone, afterRender: attachDragula}" class="features-inner-holder" id="right">
              <div class="feature">
                <div class="feature-inner">
                  <span class="feature-title">Title</span>
                  <div class="feature-value" data-bind="text: title"></div>
                  <span class="feature-title">Description</span>
                  <div class="feature-value" data-bind="text: desc"></div>
                  <span class="feature-title">Priority</span>
                  <div class="feature-value" data-bind="text: priority"></div>
                  <!--<span class="feature-title">Target Date</span>
                  <div class="feature-value" data-bind="text: date"></div>-->
                  <span class="feature-title">Product Area</span>
                  <div class="feature-value" data-bind="text: area"></div>
                  <!--<div class="feature-button-holder">
                    <button class="small-button small-button--grey">Mark Not-Started</button>
                    <button class="small-button small-button--blue">Mark In-Progress</button>
                  </div>-->
                </div>
                <div class="feature-date-and-client">
                  <div class="feature-client" data-bind="text: client"></div>
                  <div class="feature-value feature-date" data-bind="text: date"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
    <div class="new-feature">
      {% include 'new-feature.html' %}
    </div>
    <!-- Insert this line above script imports -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script type='text/javascript'>
      //Here we want to get the data from the template, parse and send to knockout
      var clients_json = JSON.parse({{ data.clients|tojson }});
      var product_area_json = JSON.parse({{ data.product_area|tojson }});
      var features_json = JSON.parse({{ data.features|tojson }});
      //console.log(product_area_json);
    </script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-with-locales.js') }}"></script>
    <script src="{{ url_for('static', filename='js/knockout-3.4.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dragula.min.js') }}"></script>
    <!--Needed for the custom notification view at the top -->
    <script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/classie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notificationFx.js') }}"></script>
    <!--Needed for the custom notification view at the top -->
    <script src="{{ url_for('static', filename='js/nprogress.js') }}"></script>
    <script src="{{ url_for('static', filename='js/listeners.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>
  </body>
</html>
